.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.box:nth-child(1){
    width: 150px;
    background-color: gold;
}
.box{
    border: solid;
    background-color: olive;
    justify-content: space-around;
    height: 80px;
    width: 86%;
}
.container{
    display: flex;
    justify-content: space-around;
}
.kotak{
    height: 465px;
    width: 150px;
    border: solid;
}
.item-1{
    background-color: aqua;
}
.item-2{
    background-color: bisque;
    width: 74%;
}
.item-3{
    background-color: rgb(130, 238, 188);
}
.kubus{
    border: solid;
    background-color: rgb(224, 9, 124);
    justify-content: space-around;
    height: 80px;
    width: 99%;
}