.topbox{
    height: 80px;
    width: 100%;
    margin-bottom: 2px;
    background-color: yellow;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.box{
    height: 160px;
}
/*pseudo class */
.box:nth-child(1){
    width: 160px;
    background-color: yellow;
}
.box:nth-child(2){
    width: 800px;
}
.oren{
    background-color: orange;
}
.biru{
    background-color: blue;
}